*, :after, :before {
    box-sizing:border-box;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo sans-serif';
}
a{
    text-decoration: none;
}
/* 头部 */
#content{
    height: 100dvh;
    width: 100vw;
    padding-top: 64px;
}

header{
    background: #fff;
    width: 100%;
    height: 64px;
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    top: 0;
    z-index: 999;
}
.naviTop{
    padding: 0 36px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigoTop-input{
  width: 560px;
  position: relative;
}
#history{
    position: absolute;
    z-index: 9999;
}
.cjcIyR{
outline:none;
width: 100%;
min-width: 80px;
height: 100%;
min-height: 28px;
outline: none;
appearance: none;
margin: 0px;
padding: 0px;
background-color: transparent;
border: none;
color: #333;
font-weight: normal;
font-size: 16px;

padding-left: 10px;
outline: #333;
}
.ftyHYg{
    width: 100%;
    min-width: 0px;
    height: 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-left: 24px;
    line-height: 36px;
}
.navigoTop-search{
    border: none;
    outline: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: none;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    width: 8%;
}
.navigoTop-search:hover{
 background: #e5e5e5;
}

.navigoTop-right-list{
height: 100%;
}
.navigoTop-right-item{
    display: inline-block;
    margin-right: 24px;
    height: 100%;
  
}
.navigoTop-right-list li:hover{
    
    cursor: pointer;
}
.navigoTop-right {
    margin: auto 0 auto auto;
   
}
#goods{
    background: #ff333f;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    height: 36px;
    min-width: 60px;
    color: #fff;
    font-weight: bold;
}
#goods:hover{
    opacity: 0.7;
}

#avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
#Myorders a{

    color: #36bbf1;
    font-weight: bold;
}
#history{
    display: none;
    background: #fff;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    left: 4.2%;
    max-height: 400px;
    overflow: auto;
}
#history li{
    border-bottom: 1px solid #d5d5d5;
    height: 55px;
    line-height: 55px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#history li:hover{
    background: #f5f5f5;
    cursor: pointer;
}
.history-title{
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.history-title span{
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}
.history-title a{
    color: #0073cc;
    font-size: 14px;
    cursor: pointer;
}
.history-title a:hover{
    color: skyblue;
}
#history{
font-size: 15px;
color: #333;
}
#help{
    float: right;
    color: #0073cc;
    height: 40px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* 侧边栏 */
main{
    padding:  40px 36px 64px;
    overflow: hidden;
}
aside{
    background: #fff;
    width: 280px;
    float: left;
  
}

.classify li{
    min-height: 50px;
    border-bottom:1px solid #e5e5e5;
    line-height: 50px;
    color: #333;
}
.classify select{
    border:1px solid #ccc;
    outline:none;
    border-radius: 3px;
    width: 270px;
    height: 55px;
    color: #999;
    position: relative;
    padding-right: 30px; /* 为伪元素箭头留出空间 */
}

.classify option {
    color: black; /* 这里将下拉选项文字颜色设置为黑色 */
}
select:focus {
    border: 1px solid black;
}

#accordion.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.accordion-title {
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.accordion-title:hover{
    background: #f5f5f5;
}
.accordion-content{
    display:none;
    padding: 0px;
    margin: 10px 0;
}
.iconRight svg{
    transform: rotate(180deg);
}
.classifyTitle{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
}
.classifyTitle span:nth-child(1){
    color: #666666;
    font-weight: bold;
    font-size: 17px;
}
.classifyTitle span:nth-child(2){
    color: #0073cc;
    font-size: 14px;
}
article{
    float: left;
    width: calc(100% - 310px);
    padding-left: 10px;
    margin-left: 30px;
}
.arcticleTitle{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5.5%;
}
.goodsItem{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.imgBgk{
    background: #f5f5f5;
    width: 100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goodsItem img{
   width: 100%;
   height: 100%;

}
.goodsItem p{
    font-weight: bold;
    margin-top: 10px;
}
.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
    margin-bottom: 20px;
    grid-gap: 20px;
    row-gap: 20px;
}
.products img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.productsimg{
    position: relative;
}
.priceContainer{
    position: absolute;
    bottom: 5%;
    width: 30%;
}
.productsimg span{
    align-items: baseline;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-weight: bold;
    display: inline-flex;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    width: 100%;
    font-size: 0.75rem;
    padding-left: 5px;
    z-index: 99;
}
.products p{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--alias-color-text-primary-default);
    display: block;
    display: -webkit-box;
    font-size: 14px;
    height: 39.2px;
    line-height: 1.4em;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.priceContainerRight{
    position: absolute;
    right: 3%;
    bottom: 3%;
    background: #f1f1f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 底部 */
footer{
    background: #f5f5f5;
    overflow-anchor: none;
    width: 100%;


}
.footer-content{
    display: flex;
    padding: 23px 36px;
}
.merText{
    font-weight: bold;
    margin-bottom: 16px;
}
.footer-content li > a{
    color: #333;
    margin-top: 10px;
    display: inline-block;
}
.fAkvRq {
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 36px;
    display: flex;
}
.hKKlVg {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    justify-content: normal
}
.merTooltip{
 margin-right:10px;
}
.item:hover{
    cursor: pointer;
}